/.ipynb_checkpoints
/Unit 1 - Programming Logic II (PY)/.ipynb_checkpoints
/Unit 1 - Programming Logic II (PY)/Projeto - Técnicos no futebol v1.ipynb
/Unit 1 - Programming Logic II (PY)/Projeto - Técnicos no futebol v2.ipynb